In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./US_Accidents_March23.csv")

In [3]:
dataset = data.copy()

In [4]:
# Columns in the dataset
dataset.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [5]:
# head of data
dataset.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
# info about data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [7]:
# describe the data
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Severity,7728394.0,2.212384,0.487531,1.000000,2.000000,2.000000,2.000000,4.000000
Start_Lat,7728394.0,36.201195,5.076079,24.554800,33.399631,35.823974,40.084959,49.002201
Start_Lng,7728394.0,-94.702545,17.391756,-124.623833,-117.219396,-87.766616,-80.353676,-67.113167
End_Lat,4325632.0,36.261829,5.272905,24.566013,33.462070,36.183495,40.178920,49.075000
End_Lng,4325632.0,-95.725570,18.107928,-124.545748,-117.754345,-88.027890,-80.247086,-67.109242
Distance(mi),7728394.0,0.561842,1.776811,0.000000,0.000000,0.030000,0.464000,441.750000
Temperature(F),7564541.0,61.663286,19.013653,-89.000000,49.000000,64.000000,76.000000,207.000000
Wind_Chill(F),5729375.0,58.251048,22.389832,-89.000000,43.000000,62.000000,75.000000,207.000000
Humidity(%),7554250.0,64.831041,22.820968,1.000000,48.000000,67.000000,84.000000,100.000000
Pressure(in),7587715.0,29.538986,1.006190,0.000000,29.370000,29.860000,30.030000,58.630000
Visibility(mi),7551296.0,9.090376,2.688316,0.000000,10.000000,10.000000,10.000000,140.000000
Wind_Speed(mph),7157161.0,7.685490,5.424983,0.000000,4.600000,7.000000,10.400000,1087.000000
Precipitation(in),5524808.0,0.008407,0.110225,0.000000,0.000000,0.000000,0.000000,36.470000

In [8]:
# Percentage of missing values in the data
missing_values = dataset.isna().sum().sort_values(ascending=False)
missing_percentage = missing_values[missing_values!=0]/len(data)*100
print(" Percentage of Missing Values \n", missing_percentage)

 Percentage of Missing Values
 End_Lng                  44.029355
End_Lat                  44.029355
Precipitation(in)        28.512858
Wind_Chill(F)            25.865904
Wind_Speed(mph)           7.391355
Visibility(mi)            2.291524
Wind_Direction            2.267043
Humidity(%)               2.253301
Weather_Condition         2.244438
Temperature(F)            2.120143
Pressure(in)              1.820288
Weather_Timestamp         1.555666
Sunrise_Sunset            0.300787
Civil_Twilight            0.300787
Astronomical_Twilight     0.300787
Nautical_Twilight         0.300787
Airport_Code              0.292881
Street                    0.140637
Timezone                  0.101030
Zipcode                   0.024779
City                      0.003274
Description               0.000065
dtype: float64

In [9]:
# drop columns with more than 40% missing values
dataset_new = dataset.dropna(thresh=len(data)*0.6, axis=1) # removes End_Lat, End_Lng columns  
dataset_new.shape

(7728394, 44)

In [10]:
dataset_new.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'Distance(mi)', 'Description', 'Street', 'City', 'County',
       'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [11]:
# Drop Rows w.r.t to columns having least percentage of missing values
columns_to_check = ['Visibility(mi)', 'Wind_Direction', 'Humidity(%)', 'Weather_Condition', 
                    'Temperature(F)', 'Pressure(in)', 'Weather_Timestamp', 
                    'Nautical_Twilight', 'Civil_Twilight', 'Sunrise_Sunset', 
                    'Astronomical_Twilight', 'Airport_Code', 'Street', 'Timezone', 
                    'Zipcode', 'City', 'Description']
dataset_new = dataset_new.dropna(subset=columns_to_check)

dataset_new.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
Distance(mi)                   0
Description                    0
Street                         0
City                           0
County                         0
State                          0
Zipcode                        0
Country                        0
Timezone                       0
Airport_Code                   0
Weather_Timestamp              0
Temperature(F)                 0
Wind_Chill(F)            1769890
Humidity(%)                    0
Pressure(in)                   0
Visibility(mi)                 0
Wind_Direction                 0
Wind_Speed(mph)           375173
Precipitation(in)        2039318
Weather_Condition              0
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                 0
Civil_Twilight                 0
Nautical_Twilight              0
Astronomical_Twilight          0
dtype: int64

In [12]:
# check if any weather condition has all missing values
empty_groups = dataset_new.groupby('Weather_Condition')['Wind_Speed(mph)'].apply(lambda x: x.isna().all())
print(empty_groups[empty_groups])

Weather_Condition
Heavy Smoke     True
Volcanic Ash    True
Name: Wind_Speed(mph), dtype: bool

In [13]:
# Fill wind speed with overall mean
overall_mean_wind_speed = dataset_new['Wind_Speed(mph)'].mean()
dataset_new.fillna({'Wind_Speed(mph)': overall_mean_wind_speed}, inplace=True)

# check null values in wind speed
dataset_new['Wind_Speed(mph)'].isnull().sum()

np.int64(0)

In [14]:
# Filing missing values in wind chill with combination on formulae and mean
def calculate_wind_chill(temp, wind_speed):
        return 35.74 + 0.6215 * temp - 35.75 * (wind_speed ** 0.16) + 0.4275 * temp * (wind_speed ** 0.16)
    

# Fill missing Wind_Chill(F) with calculated values
dataset_new['Wind_Chill(F)_calculated'] = dataset_new.apply(lambda row: calculate_wind_chill(row['Temperature(F)'], row['Wind_Speed(mph)']), axis=1)
dataset_new['Wind_Chill(F)'] = dataset_new['Wind_Chill(F)'].fillna(dataset_new['Wind_Chill(F)_calculated'])

# Drop the helper column for calculated wind chill
dataset_new.drop(columns=['Wind_Chill(F)_calculated'], inplace=True)

# check null values in wind chill
dataset_new['Wind_Chill(F)'].isnull().sum()

np.int64(0)

In [15]:
print(dataset_new.isna().sum())

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
Distance(mi)                   0
Description                    0
Street                         0
City                           0
County                         0
State                          0
Zipcode                        0
Country                        0
Timezone                       0
Airport_Code                   0
Weather_Timestamp              0
Temperature(F)                 0
Wind_Chill(F)                  0
Humidity(%)                    0
Pressure(in)                   0
Visibility(mi)                 0
Wind_Direction                 0
Wind_Speed(mph)                0
Precipitation(in)        2039318
Weather_Condition              0
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                 0
Civil_Twilight                 0
Nautical_Twilight              0
Astronomical_Twilight          0
dtype: int64

In [16]:
overall_median_precipitation = dataset_new['Precipitation(in)'].median()
dataset_new.fillna({'Precipitation(in)': overall_median_precipitation}, inplace=True)

In [17]:
# check the null values in dataset_new 
dataset_new.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [18]:
# drop id, description, source columns
dataset_new.drop(columns=['ID', 'Description', 'Source'], inplace=True)

In [19]:
# Give me the columna names
dataset_new.columns

Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'Distance(mi)', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [20]:
# unique values in civil twilight
dataset_new['Civil_Twilight'].unique()

array(['Night', 'Day'], dtype=object)

In [25]:
# Choose only 100000 rows from the dataset
db_dataset = dataset_new.sample(n=100000, random_state=42)

In [26]:
data_local = dataset_new.sample(n=100000, random_state=42)
data_local.columns = [
    'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
    'Start_Lng', 'Distance_mi', 'Street', 'City', 'County', 'State',
    'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
    'Temperature_F', 'Wind_Chill_F', 'Humidity', 'Pressure_in',
    'Visibility_mi', 'Wind_Direction', 'Wind_Speed_mph',
    'Precipitation_in', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
    'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
    'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
    'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
    'Astronomical_Twilight'
]
data_local.to_csv('data.csv', index=False)

# Connect to MySQL Database

In [27]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


# Database connection parameters
username = 'root'  # replace with your username
password = '1234'  # replace with your password
host = 'localhost'  # or your database host
port = '3306'  # or your database port
database = 'cats'  # your database name

connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

Session = sessionmaker(bind=engine)
session = Session()

db_dataset.columns = [
    'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
    'Start_Lng', 'Distance_mi', 'Street', 'City', 'County', 'State',
    'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
    'Temperature_F', 'Wind_Chill_F', 'Humidity', 'Pressure_in',
    'Visibility_mi', 'Wind_Direction', 'Wind_Speed_mph',
    'Precipitation_in', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
    'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
    'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
    'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
    'Astronomical_Twilight'
]

try:
    db_dataset.to_sql('IncidentReports', con=engine, if_exists='append', index=False, chunksize=1000)
    session.commit()  # Explicitly commit the transaction
    print("Data loaded successfully!")
except Exception as e:
    session.rollback()  # Rollback the transaction in case of failure
    print("Error loading data into SQL:", e)

Data loaded successfully!

C:\Users\krishnateja\AppData\Local\Temp\ipykernel_2200\3453054967.py:35: UserWarning: The provided table name 'IncidentReports' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  db_dataset.to_sql('IncidentReports', con=engine, if_exists='append', index=False, chunksize=1000)

## Method to Load complete dataset into the MySQL DB

In [24]:
# connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}?allow_local_infile=true'
# dataset_new.to_csv('data.csv', index=False)

# Execute LOAD DATA INFILE using SQLAlchemy connection
# with engine.connect() as connection:
#     try:
#         # Adjust the path as necessary
#         sql_command = text("LOAD DATA LOCAL INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/data.csv' INTO TABLE IncidentReports FIELDS TERMINATED BY ','")
#         connection.execute(sql_command)        
#         print("Data loaded successfully!")
#     except Exception as e:
#         print("Error loading data:", e)


####### ISSUE ###############
# Error: 20:29:48	LOAD DATA INFILE 'data.csv' INTO TABLE IncidentReports FIELDS TERMINATED BY ',' IGNORE 1 LINES	Error Code: 1290. 
# The MySQL server is running with the --secure-file-priv option so it cannot execute this statement	0.000 sec
# commands to stop and start the sql server
# net stop "mysql80"
# net start "mysql80